<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div formGroupName="userData">
        <div class="form-group">
          <label for="username">Username</label>

          <input type="text" id="username" class="form-control" [formControlName]="'username'">
          <span *ngIf="signupForm.get('userData.username').invalid &&
            signupForm.get('userData.username').touched">

            <span *ngIf="signupForm.get('userData.username').errors['required']" class="help-block">This is a mandatory field.</span>
            <span *ngIf="signupForm.get('userData.username').errors['inBlacklistedName']" class="help-block">Name is found in blacklisted names.</span>
            </span>
        </div>

        <div class="form-group">
          <label for="email">Mail</label>
          <input type="email" id="email" class="form-control" formControlName="email">
          <span *ngIf="signupForm.get('userData.email').invalid &&
            signupForm.get('userData.email').touched">
            Please enter a valid email.
            </span>

        </div>
      </div>
      <div class="radio" *ngFor="let g of genders">
        <label>
              <input type="radio" name="gender"
              formControlName="gender" [value]="g">
              {{g | uppercase}}
            </label>
      </div>

      <div formGroupName="addressData">
        <div class="form-group">
          <label for="country">Country</label>

          <input type="text" id="country" class="form-control" formControlName="country">
          <span *ngIf="signupForm.get('addressData.country').invalid &&
            signupForm.get('addressData.country').touched">
            This is a mandatory field.
            </span>
        </div>

        <div class="form-group">
          <label for="zip">Postal Code</label>
          <input type="text" id="zip" class="form-control" formControlName="zip">
          <span *ngIf="signupForm.get('addressData.zip').invalid &&
            signupForm.get('addressData.zip').touched">
            {{zipAlert}}
            </span>

        </div>
      </div>
      <div formArrayName="hobbies">
        <h3>Got some hobbies?</h3>
        <button class="btn btn-default" type="button" (click)="addHobby()">Add Hobby</button>
        <div class="form-group" *ngFor="let hobbyCtrl of signupForm.get('hobbies').controls; let i = index">
          <input type="text" class="form-control" [formControlName]="i">
        </div>
      </div>



      <button class="btn btn-primary" type="submit" [disabled]="signupForm.invalid">Submit</button>

    </form>
  </div>

  <!--<ng-template #displayFormContent>
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <p>{{formData.userData.username}}</p>
      <p>{{formData.userData.email}}</p>
      <p>{{formData.userData.gender}}</p>
      <p>{{formData.secret}}</p>
      <p>{{formData.secretAnswer}}</p>
      </div>
    </ng-template>-->
</div>