<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2"
    *ngIf="!formData; else displayFormContent">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div id="user-data" ngModelGroup="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <!-- ngModel and name to register our controls to java script form object 
            created and managed by Angular
            [ngModel]="suggestedName" 2way Db approach-->
            <input type="text" id="username" class="form-control"  ngModel name="username" required>
          </div>
          <button class="btn btn-default" type="button" (click)="suggestUserName()">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input type="email" id="email" class="form-control" ngModel name="email" required email #email="ngModel">
            <span *ngIf= "email.invalid && email.touched" class="help-block">Please enter a valid email.</span>
          </div>
          <div class="radio" *ngFor="let g of genders">
            <label>
              <input type="radio" name="gender" ngModel [value]="g">
              {{g | uppercase}}
            </label>
          </div>
        </div>
        <div ngModelGroup="userSecretData">
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <!-- [ngModel] defaulting to one way prop binding, the selected value goes to secret key in form.value object-->
          <select id="secret" class="form-control" [ngModel]="deafultQuestion" name="secret" required>
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
            <label for="secretAnswer">Secret Answer</label>
            <textarea id="secretAnswer" class="form-control" [(ngModel)]="secretAnswer" name="secretAnswer" required></textarea>
            
          </div>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Submit</button>
        <button class="btn btn-danger" type="button" (click)="onReset()">Reset</button>
      </form>
    </div>
    
    <ng-template #displayFormContent>
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <p>{{formData.userData.username}}</p>
      <p>{{formData.userData.email}}</p>
      <p>{{formData.userData.gender}}</p>
      <p>{{formData.secret}}</p>
      <p>{{formData.secretAnswer}}</p>
      </div>
    </ng-template>
  </div>